body{
 background-image: url(../img/printer-example.jpg);
 background-size: cover;
 max-width: 1900px;
 max-height: 2000px;
 background-repeat: no-repeat;
}

.logo img{
    position: relative;
    max-width: 300px;
    max-height: 130px;
    margin-top: 50px;
    margin-left: 30px;
}